header {
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header h3 {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  align-items: center;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.mag {
  text-align: center;
  width: 100px;
}

.time {
  text-align: center;
  width: 200px;
}

.place {
  text-align: left;
  width: 400px;
}
