header {
    text-align: center;
}

header h1 {
    margin-bottom: 0;
}

header h3 {
    margin-top: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.mag {
  text-align: center;
  width: 100px;
}

.time {
  width: 200px;
}

.place {
  width: 400px;
}