main {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
}

table {
  /* font-family: arial, sans-serif; */
  border-collapse: collapse;
  margin: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
